<td>{{name}}</td>
<td>{{sku}}</td>
<td>{{qty}}</td>
<td>{{price}}</td>
<td class='last'>
  <a href="#" class='create-campaign' data-id="{{_id}}">create campaign</a>
  <span class='row-spacer'>|</span>
  <a href="#" class='edit' data-id="{{_id}}">edit</a>
  <span class='row-spacer'>|</span>
  <a href="#" class='delete' data-id="{{_id}}">delete</a>
</td>